@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
/* Hide scrollbar globally */
::-webkit-scrollbar {
  display: none;
}
.react-calendar{
  min-width: 100%;
  border-radius: 20px;
  padding: 5px;
}
.react-calendar__navigation__label{
  font-weight:700;
  font-size: 19px;
}
.react-calendar__navigation__arrow:first-child,.react-calendar__navigation__arrow:last-child{
  display: none;
}
.react-calendar__navigation__arrow{
  font-size: 30px;
}
.react-calendar__month-view__weekdays{
  color:black;
  font-weight: 900;
}
.react-calendar__viewContainer .react-calendar__tile--now {
    background:none;
    color: black;
    border-radius: 20px;
}
abbr{
  text-decoration: none;
}
.react-calendar{
  border: 0;
  box-shadow: 1px 1px 4px gray ;
  
}
@media screen and (max-width:768px) {
 .react-calendar__navigation__label{
  font-size: 12px;
} 
}